<div class="container-fluid">
    <h1>Proyectos Realizados</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/proyectos/portfolio-ap-edu-1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Argentina Programa</h5>
              <p class="card-text">Portfolio</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../../../assets/proyectos/login-edu-1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Login</h5>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
</div>

<!--
<div class="container-fluid">
    <div class="row">
        <h1>Proyectos Realizados</h1>
        <div class="contenedor">
            <div>
                <div class="col-sm-12 col-md-7 col-lg-7 mt-5 parte1">
                    <h3>Argentina Programa-Portfolio</h3>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 
            offset-md-1 offset-lg-1 parte2" >
                <img src="../../../assets/proyectos/portfolio-ap-edu.png" class="img-fluid img-proyecto">
            </div>
            </div>
            <div>
                <div class="col-sm-12 col-md-7 col-lg-7 mt-5 parte1">
                    <h3>Login</h3>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 
            offset-md-1 offset-lg-1 mt-3 parte2" >
                <img src="../../../assets/proyectos/login-edu.png" class="img-fluid img-proyecto">
            </div>
            </div>
            
        </div>
</div>

</div>
-->