<div class="row">
    <h1 id="tituloeducacion">Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2 id="educacion">Estudios Primarios Completos</h2>- <h3 id="años">(2000-2006)</h3>

            </li>
            <p id="parrafoeducacion">Colegio Salesiano María Auxiliador Corrientes,Capital

            </p>
        </ul>
        <ul>
            <li>
                <h2 id="educacion">Estudios Secundarios Completos</h2>- <h3 id="años">(2007-2012)</h3>

            </li>
            <p id="parrafoeducacion">
                Instituto Salesiano Pío XI Corrientes
            </p>
        </ul>
        <ul>
            <li>
                <h2 id="educacion">Estudios Universitarios</h2>- <h3 id="años">(2013-Actual)</h3>

            </li>
            <p id="parrafoeducacion">Cursando la carrera Ingeniería Electromecánica en la Facultad de Ingeniería de la UNNE

            </p>
        </ul>
        <ul>
            <li>
                <h2 id="educacion">Curso Realizado de Electronica Basica</h2>- <h3 id="años">(2018)</h3>

            </li>
            <p id="parrafoeducacion">Realizado en la Escuela de Formacion Profesional N°7 Ciudad de Resistencia,Chaco

            </p>
        </ul>
        <ul>
            <li>
                <h2 id="educacion">Curso Realizado de Reparacion y Mantenimiento de PC</h2>- <h3 id="años">(2019)</h3>

            </li>
            <p id="parrafoeducacion">Realizado en CECAL Corrientes

            </p>
        </ul>
        
        <ul>
            <li>
                <h2 id="educacion">Curso Realizado de Argentina Programa #SeProgramar</h2>- <h3 id="años">(2021)</h3>

            </li>
            <p id="parrafoeducacion">Etapa #SeProgramar Completada

            </p>
        </ul>
        
        <ul>
            <li>
                <h2 id="educacion">Otros Cursos</h2>- <h3 id="años"></h3>

            </li>
            <p id="parrafoeducacion">
                <li>Manejo de Office</li>
                <li>Manejo de Autocad y Solidworks</li>
                <li>Manejo de Microsoft Project</li>
                <li>Curso de combustión y de uso de instrumentos de Termografía</li>





            </p>
        </ul>
    </div>
</div>
