    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/foto_de_perfil.jpg" class="img-fluid" id="fotodeperfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Fontora Eduardo Paul</p>
            <p id="titulodvp">Full Stack Developer Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1 id="acerca">Acerca de mí</h1>
                <p id="parrafodeacerca">Hola, me presento soy Eduardo Paul Fontora, tengo 27 años y soy de Corrientes,Capital (Argentina). Soy estudiante avanzado en la carrera de Ingeniería Electromecanica de la UNNE. Tambien soy programador fullstack Jr. </p>
            </span>
        </div>
    </div>


