    
        <div class="container-fluid " >
            <div class="row d-flex justify-content-center">
                <div class="col-12 w-25 mt-4" style="min-width: 250px;">
                    <img src="../../../assets/foto_de_perfil_cuadrado.jpg" class="img-fluid rounded-circle" >
                </div>
                <div class="col-12 parrafo text-center">
                    <h1 id="acerca">{{persona.apellido}} {{persona.nombre}}</h1>
                    <p id="titulodvp">Full Stack Developer Jr.</p>   
                    <p id="parrafodeacerca">Hola, soy Eduardo Paul Fontora, tengo 27 años y soy de Corrientes,Capital (Argentina). Soy estudiante avanzado en la carrera de Ingeniería Electromecanica de la Universidad Nacional del Nordeste (UNNE). Me considero una persona honesta, responsable,sociable y trabajador. Tengo interés en el mundo de la programación por el cual aprendí un poco en mi carrera y luego fui por mi cuenta desarrollando algunas habilidades para poder entenderla.  </p>
                </div> 
            </div>
        </div>

            <!--
            <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
                    <img src="../../../assets/foto_de_perfil_cuadrado.jpg" class="img-fluid" id="fotodeperfil">
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    <p id="nombre">{{persona.apellido}} {{persona.nombre}}</p>
                    <p id="titulodvp">Full Stack Developer Jr.</p>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <span>
                        <h1 id="acerca"></h1>
                        <p id="parrafodeacerca">Hola, soy Eduardo Paul Fontora, tengo 27 años y soy de Corrientes,Capital (Argentina). Soy estudiante avanzado en la carrera de Ingeniería Electromecanica de la Universidad Nacional del Nordeste (UNNE). Me considero una persona honesta, responsable,sociable y trabajador. Tengo interés en el mundo de la programación por el cual aprendí un poco en mi carrera y luego fui por mi cuenta desarrollando algunas habilidades para poder entenderla.  </p>
                    </span>
                </div>
            </div>
    
        </div>
            
        -->
        
        

