
       <div class="row">
            <div class="container">
                <div class="logo">
                    <img src="../../../assets/APLogo-20-20.png" id="logoAP">
                </div>
                <div class="redes">
                        <a href="https://www.facebook.com/edu.fontora" target="_blank"><img src="../../../assets/social/facolor.png" id="facebook"></a>
                        <a href="https://www.linkedin.com/in/eduardo-fontora-689921b3/" target="_blank"><img src="../../../assets/social/linkedincolor.png" id="linkedin"></a> 
                        <a href="https://github.com/edufonto22" target="_blank"><img src="../../../assets/social/gitceles.png" id="github" alt=""></a>
                        <a href="" target="_blank"><img src="../../../assets/social/inscolor.png" id="instagram"></a>
                        <a href="https://twitter.com/VitoFontora" target="_blank"><img src="../../../assets/social/twicolor.png" id="twitter"></a>
                        <a href=""></a>
                    <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                    <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
                </div>
            </div>
    </div>


